# Node modules and Python environments
node_modules/
.venv/

# Environment files
.env

# Exclude these specific folders
hf-embed-service/
vector-services/

# OS and build artifacts
.DS_Store
Thumbs.db
__pycache__/
*.pyc

# Other temporary files
frontend.zip
